<!-- Main -->
<section id="main" class="container">
  <header>
  <h2><b>ChatRoom Platform</b></h2>
    <h2>Welcome to Unipipe ChatRoom platform</h2>
    <p>Select the field to discuss.</p>
    <h2>Select, Explore & Discuss</h2>
  </header>

    <section class="box special features">
    <div class="features-row">
      <section id="medical">
        <span class="icon major fa-bolt accent2"></span>
        <h3><%= link_to "Medical Field", Chatroom.first %></h3>
        <p>Medicine is the science and practice of the diagnosis, treatment, and prevention of disease. Medicine encompasses a variety of health care practices evolved.</p>
      </section>
      <section id="engineering">
        <span class="icon major fa-area-chart accent3"></span>
        <h3><%= link_to "Engineering Field", Chatroom.second %></h3>
        <p>Engineering is the application of mathematics, as well as scientific, economic, social, and practical knowledge to invent, innovate.</p>
      </section>
    </div>
    <div class="features-row">
      <section id="accounting">
        <span class="icon major fa-cloud accent4"></span>
        <h3><%= link_to "Accounting Field", Chatroom.third %></h3>
        <p>Accounting or accountancy is the measurement, processing, and communication of financial information about economic entities such as businesses and corporations.</p>
      </section>
      <section  id="computing_IT">
        <span class="icon major fa-lock accent5"></span>
        <h3><%= link_to "Computing & IT", Chatroom.fourth %></h3> 
        <p>Computer science is the study of the theory, experimentation, and engineering that form the basis for the design and use of computers..</p>
      </section>
    </div>
  </section>
