<div class="jumbotron">
  <h1>Welcome to Unipipe!</h1>
  <p>The platform for university discussions</p>
  <%if current_user%>
    <p><span class="glyphicon glyphicon-heart"></span> Nice to see you, <%= current_user.username%> <span class="glyphicon glyphicon-heart"></span></p>
  <%end%>
  <p>Sign up or log in, then browse existing rooms to start chatting.</p>
</div>

