<div class="contact-agile">
		<div class="faq">
			
			<div class="container">
				<div class="col-md-3 location-agileinfo">
					<div class="icon-w3">
						<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					</div>
					<h3>Kipruto Mike</h3>
					<h4>Nyeri, 40700,</h4>
					<h4>Kenya.</h4>
				</div>
				<div class="col-md-3 call-agileits">
					<div class="icon-w3">
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
					</div>
					<h3>Call</h3>
					<h4>+254729054351</h4>
					<h4>+254728878018</h4>
					<h4>+254737045647</h4>
				</div>
				<div class="col-md-3 mail-wthree">
					<div class="icon-w3">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					<h3>Email</h3>
					<h4><a href="mailto:kiprutomike1@gmail.com">kiprutomike1@gmail.com</a></h4>
				</div>
				<div class="col-md-3 social-w3l">
					<div class="icon-w3">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					</div>
					<h3>Social media</h3>
					<ul>
						<li class="github"><a href="github.com/mykkip"><i class="fa fa-github" aria-hidden="true"></i><span class="text">Github</span></a></li>
						<li class="twt"><a href="https://twitter.com/kipmyk"><i class="fa fa-twitter" aria-hidden="true"></i><span class="text">Twitter</span></a></li>
						<li class="ggp"><a href="https://plus.google.com/108066895885126873171"><i class="fa fa-google-plus" aria-hidden="true"></i><span class="text">Google+</span></a></li>	
					</ul>
				</div>
				<div class="clearfix"></div>
				<form action="#" method="post">
					<input type="text" name="your name" placeholder="FIRST NAME" required="">
					<input type="text" name="your name" placeholder="LAST NAME" required="">
					<input type="email" name="your email" placeholder="EMAIL" required="">
					<input type="text" name="subject" placeholder="SUBJECT" required="">
					<textarea  name="your message" placeholder="YOUR MESSAGE" required=""></textarea>
					<input type="submit" value="SEND MESSAGE">
				</form>
			</div>
		</div>
	</div>