<div class="signup" id="signup" style="padding-top: 0 !important;">
	<div class="container">
	<div class="head-top-w3ls"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
		<h5 class="title-w3">Play, Explore and Learn.</h5>
		  <h1>Welcome to Unipipe,
			<%if current_user%>
			    <%= current_user.username.capitalize%>
		   <% else %>
		   		new user
			   </h1>
		   <% end %>
		  <p>The platform for university discussions</p>	
		  <%if current_user%>
		    <%= link_to "join", chatrooms_path %> an existing chatroom</p>
		  <% else %>
			<div class="button2">
			  <h5><%= link_to "sign up now", signup_path %>
			  </div>
			  then browse existing rooms to start chatting.</h5>
		  <%end%>		
	</div>
		
</div>