<!-- Footer -->

	<div class="copyright-wthree">
		<p>&copy; 2017 unipipe. All Rights Reserved | Design by <a href="github.com/mykkip"> KIPRUTO MIKE - E020-01-0644/2013 </a></p>
	</div>
<!-- //Footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
