<!-- Footer -->
<footer id="footer">
	<ul class="icons">
		<li><a href="https://plus.google.com/+MikeTanuicomputerguy" class="icon fa fa-google-plus" style="color:red !important;"><span class="label">Googleplus</span></a></li>
		<li><a href="https://twitter.com/KipMyk" class="icon fa-twitter" style="color:#55acee !important;"><span class="label">Twitter</span></a></li>
		<li><a href="https://github.com/mykkip" class="icon fa-github" style="color:#000000 !important;"><span class="label">Github</span></a></li>
		<li><a href="https://ke.linkedin.com/in/kipruto" class="icon fa fa-linkedin" style="color:#007bb5 !important;"><span class="label">Github</span></a></li>
		<li><a href="https://www.youtube.com/channel/UCJOp9o4Q1jTERVKgieGtlvA/featured" class="icon fa fa-youtube" style="color:red !important;"><span class="label">Youtube</span></a></li>
	</ul>
	<ul class="copyright">
		<li>&copy; Unipipe 2017. All rights reserved.</li><li>Design By : <a href="#">KIPRUTO MIKE - E020-01-0644/2013</a></li>
	</ul>
	<br>
	<ul>
	    <li>
	    	<span>Internet Application Programming Project.</span>
	    </li>
	</ul>
</footer>
