
<!-- gallery -->
<div class="gallery" id="gallery">
<div>
<div class="head-top-w3ls"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
			<h5 class="title-w3">unipipe</h5>
			<div style="font-size: 25px;">
			<p><center><b>An online university discussion group forum of various disciplines.</p>
			<p>Free subscription and registeration of users.</p>
			<p>With unipipe you can discuss any arising topic and also take part in group chat as well as on on one with tutors.</b></center></p>
			</div>
</div>
</div>
	<!-- //gallery -->